= form_for [:moderation, @note] do |f|
  - if @note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg

  - if params[:envoiParMail]
    = hidden_field_tag :envoiParMail, params[:envoiParMail]

    %p=t 'title', scope: [:note_mailer, :create]
    %p=t 'body', scope: [:note_mailer, :create], subject: @note.event.title, contents: @note.contents

  .field
    %p.label= f.label Note.human_attribute_name :contents
    = f.text_area :contents, cols: 70, rows: 10

  - if params[:envoiParMail]
    :markdown
      #{t 'edit_link', scope: [:note_mailer, :notify]}

      #{edit_moderation_path @note.event}

      #{t 'signature', scope: [:note_mailer, :notify]}

    .actions
      = link_to moderations_path do
        %em.fa.fa-arrow-left
        =t '.ko'
      = f.button do
        %em.fa.fa-bullhorn
        =t '.save'

  - else
    .actions
      = link_to moderations_path do
        %em.fa.fa-arrow-left
        =t '.ko'
      = f.button do
        %em.fa.fa-bullhorn
        =t '.ok'
