- if action_name == 'index' && controller_name != 'tags'
  .digest
    - if params[:tag].present?
      = render partial: '/tags/context', locals: { tags: params[:tag] }

    - if params[:near].present? && params[:near][:location].present? && params[:near][:distance].present?
      %span.near
        %em.fa.fa-map-pin
        = params[:near][:location]
        %em.fa.fa-arrows-alt-h
        = params[:near][:distance]
        km
        %a(href="?near=")
          %em.fa.fa-times
