#map
  height: 60em
  box-shadow: 0 0 1em SteelBlue
  transition: none
  padding-left: 4em
  list-style-type: none
  *
    /* Popup are better displayed with this: */
    max-width: initial

  &.event, &.orga
    height: 20em

  li
    a
      display: inline-block
    .awesome-marker
      display: inline-block !important
      position: relative !important

.tags #map
  width: 40%
  height: 60em
  margin: 1.6em 2%
  display: inline-block

// Left align the map controls placed in the top right corner
section.leaflet-control-layers-list label
  .awesome-marker
    height: auto !important
    display: inline-block !important
    position: relative !important

html.iframe
  &, body.maps, body.maps main, body.maps #map
    width: 100%
    height: 100%
    margin: 0
